* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    margin: 40px 50px;
}
.logo img {
    width: 150px;
    margin-bottom: 20px;
}
.img img {
    width: 650px;
}
.title {
    color: white;
    float: right;
    width: 500px;
    margin-top: -400px;
}
.name {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}
.p {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

button {
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-radius: 30px;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 10px 1px #00000080;
    margin: auto;
    margin-left: 150px;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
button:focus {
    outline: none;
}
.icon {
    display: flex;
    margin-top: 100px;
    margin-left: 380px;
}
.icon i {
    margin-left: 20px;
    font-size: 24px;
    
}
.icon i:hover {
    color: hsl(300, 69%, 71%);
}